  <!-- TITLE -->
  <div id="title">
    <span>WeatherApp</span>
  </div>

  <!-- INPUT-CONTAINER -->
  <div id="input-container">
    <input class="input-item" id="zip-input" type="text" value="" placeholder="Enter Zip">
    <button class="input-item" id="submit-button" type="button" name="button">Submit</button>
  </div>

  <!-- INFO DISPLAY CONTAINER -->
  <div id="display-info-container">

    <!-- DISPLAY INPUT CONTAINER -->
    <div id="display-input-container">
      <input class="display-input-item" id="display-zip-input" type="text" value="" placeholder="Enter Zip">
      <button class="display-input-item" id="display-submit-button" type="button" name="button">Submit</button>
    </div>

    <!-- RESULT CONTAINER -->
    <div id="result-container">
      <div id="loc-time-container">
        <div id="location-display"></div>
        <div id="state-display"></div>
      </div>

      <!-- TEMPERATURE DISPLAY -->
      <div id="temp-container">
        <div id="temp-display"></div>
        <div id="current-status-container">
          <img id="status-image" alt="Current Weather">
          <div id="current-status-display"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div id="footer">
    <span id="footer-header">Powered by:</span>
    <a href="https://www.wunderground.com/" target="_blank">
      <img src="assets/wu.png" alt="Weather Underground">
    </a>
  </div>
